---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag gulp_image_path("middleman-logo.svg"), alt: "Middleman Logo" %>
  </div>
  <h1>Middleman is Running Gulp Starter</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
